

.custom1{
    position: absolute;
    margin-top: -712px;
    margin-left: 317px;
    color: whitesmoke;
 
    }

.custom2{
    display: inline-block;
    margin: 10px;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    padding: 20px;
    position: absolute;
    margin-top: -620px;
    left: 302px;
    background-color: white;
}

.custome4{
    text-align: left;
    color: red;
}





