

.custom1{
    position: absolute;
    margin-top: 140px;
     left: 270px;
    }

.custom2{
    display: inline-block;
    margin: 10px;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    padding: 20px;
    position: absolute;
    margin-top: 250px;
    left: 240px;
}



