
.custome1{
    position: relative;
}



.custome3{
    
        display: inline-block;
        margin: 10px;
        border: 1px solid #eee;
        box-shadow: 0 2px 2px #ccc;
        padding: 20px;
        position: absolute;
        margin-top: -783px;
        left: 475px;
        background-color: white;
         width: 33%;
}

.custome4{
    text-align: left;
    color: red;
}

.custome5{
    
    position: absolute;
    margin-top: -868px;
    margin-left: 548px;
    color: whitesmoke;

}


