
.custome1{
    position: relative;
}

.custome2{
    position: absolute;
    top: 0px;
    left: 560px;
}


.custome3{
    
        display: inline-block;
        margin: 10px;
        border: 1px solid #eee;
        box-shadow: 0 2px 2px #ccc;
        padding: 20px;
        position: absolute;
        margin-top: 60px;
        left: 475px;
    
}



